@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<ul>
    <li>Intergration with Hotel PMS and CRS.</li>
    <li>Checkin from any internet enabled device.</li>
    <li>Reduces front desk workload.</li>
    <li>Maximize guest experiance and satisfaction.</li>
    <li>Allows housekeeping to prepare room types as needed.</li>
</ul>