@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<h1>Gaurav Singla | +91-9914517715</h1>
<br/>
<address>
    Innovator,<br />
    Sabre,<br />
    Bangalore, 560066
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">singlagaurav919@gmail.com</a><br />
    
</address>